/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        --main: #ffffff;*/
/*        --button-to-top: #eff1f5;*/
/*        --hover: #F5F6FA;*/
/*        !*--hover: #ffffff;*!*/
/*        --hover-message-dialog: #d7e4fc;*/
/*        --h-message-dialog: #ecf2fe;*/
/*        --logo-color-text: #ffffff;*/
/*        --notification-color-bg: #fbc5c5;*/
/*        --bg-main-photo-box: #fafafa;*/
/*        --black: #000000;*/
/*        --white: #ffffff;*/
/*        --bg-grey: #fafafa;*/
/*        --logo: #0072FC;*/
/*        --grey: #dcdcdc;*/
/*        --link: #4fa7db;*/
/*        --not-read-message: #D7E4FC;*/
/*        --placeholder: #828282;*/
/*        --back_card: #ffffff;*/
/*        --font-color: #000000;*/
/*        --button_border: #dcdcdc;*/
/*        --view-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;*/
/*        --view-shadow-call: 0 0 100px -36px #000;*/
/*        --bg-hover: #fafafa;*/
/*    }*/

/*    meta[name="theme-color"] {*/
/*        attr-content: var(--logo);*/
/*    }*/
/*}*/

:root {
    --main: #ffffff;
    --button-to-top: #eff1f5;
    --hover: #F5F6FA;
    /*--hover: #ffffff;*/
    --hover-message-dialog: #d7e4fc;
    --h-message-dialog: #ecf2fe;
    --logo-color-text: #ffffff;
    --notification-color-bg: #fbc5c5;
    --bg-main-photo-box: #fafafa;
    --black: #000000;
    --white: #ffffff;
    --bg-grey: #fafafa;
    --logo: #0072FC;
    --grey: #dcdcdc;
    --link: #4fa7db;
    --not-read-message: #D7E4FC;
    --placeholder: #828282;
    --back_card: #ffffff;
    --font-color: #000000;
    --button_border: #dcdcdc;
    --view-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;
    --view-shadow-call: 0 0 100px -36px #000;
    --bg-hover: #fafafa;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --main: #202124;*/
/*        --hover: #202124;*/
/*        --bg-main-photo-box: #45464a;*/
/*        --hover-message-dialog: #45464a;*/
/*        --h-message-dialog: #5c5d62;*/
/*        --not-read-message: #45464a;*/
/*        --button-to-top: #303134;*/
/*        --black: #000000;*/
/*        --white: #202124;*/
/*        --notification-color-bg: #541919;*/
/*        --bg-grey: #303134;*/
/*        --logo: #0a2d98;*/
/*        --grey: #dcdcdc;*/
/*        --link: #4fa7db;*/
/*        --placeholder: #828282;*/
/*        --back_card: #303134;*/
/*        --button_border: #3c4043;*/
/*        --logo-color-text: #bdc1c6;*/
/*        --font-color: #bdc1c6;*/
/*        --view-shadow: 0 1px 0 0 #3c4043, 0 0 0 1px #3c4043;*/
/*        --bg-hover: #303134;*/
/*    }*/

/*    meta[name="theme-color"] {*/
/*        attr-content: var(--logo);*/
/*    }*/
/*}*/

.grep {
    color: #000;
    background-color: #fafafa;
}

.color-blue {
    color: #0072FC;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

.image-wrapper-bio {
    display: flex;
    justify-content: space-between;
}

.info-company-bio {
    width: 100%;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.click {
    cursor: pointer;
}

.alert {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-wall {

}

.icon-task-small {
    max-width: 30px;
}

.task-item {
    box-sizing: border-box;
    margin-bottom: 5px;
    width: 100%;
    /*box-shadow: 0 8px 13px -2px rgba(88, 88, 92, 0.2);*/
    /*border-radius: 15px;*/
    border-bottom: 1px solid #e9f3ff;
}

.orange {
    color: orange;
}

.task-item-value {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.task-item-icon-box {
    width: 50px;
    height: 50px;
}

.ui.button {
    margin: 0;
    background: #fafafa;
}

.ui.button:hover {
    background-color: #f5f5f5;
}

.ui.active.button {
    background-color: #f5f5f5;
}

.ui.menu {
    border: none;
    box-shadow: none;
}

.ui.floating.dropdown .menu  {
    left: -27px;
    right: auto;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15)!important;
    border-radius: .28571429rem!important;
}

.img-channel {
    border-radius: 50%;
    max-width: 100px;
}

.info-task-wrapper {
    padding: 10px;
    border-bottom: 1px solid #fafafa;
}

.task-item-wrapper {
    box-shadow: 0 0 5px -2px rgba(88, 88, 92, 0.2);
    border-radius: 15px;
    margin-bottom: 15px;
}

.wrapper-image-icon {
    margin-right: 20px;
}

.wrapper-tg-w::-webkit-scrollbar {
    display: none;
}

.logo-text-t {
    margin-right: 20px;
    color: var(--logo);
    transition: .1s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;

}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    /*background: #fff;*/
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 1px -3px 10px 2px rgba(34, 60, 80, 0.2);
}

/* Скрываем scrollbar для IE, Edge и Firefox */
.wrapper-tg-w {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */

    padding: 3px;
    background: #fff;
    box-sizing: border-box;
}

/*.ui.menu:last-child {*/
/*    !* margin-bottom:0 *!*/
/*}*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-size: 14px;
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
    font-display: swap;
}

body {
    line-height: 1.36;
    background: var(--hover);
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.wrapper {
    width: 990px;
    margin: 60px auto;
    padding: 10px;
    /*margin-top: 60px;*/
}

.loader-small {
    border: 3px solid var(--main);
    border-top: 3px solid var(--logo);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 999;
}

.loader {
    border: 16px solid var(--main); /* Light grey */
    border-top: 16px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1;
    /*display: none;*/
}

.wrapper-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.wrapper-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.wrapper-header {
    width: 990px;
    /*padding: 15px;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 60px;
}

.wrapper-content {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.place-logo {
    /*color: var(--logo);*/
    /*transition: .1s;*/
    /*cursor: pointer;*/
    /*font-size: 18px;*/
    width: max-content;
    /*font-weight: 600;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper-logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.button-default {
    background: var(--logo);
    color: #fff;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.02s;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-default-big {
    width: 150px;
    background: var(--logo);
    color: #fff;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.02s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-default-big:active {
    transform: scale(.98);
}

.button-default-no-background {
    color: #000;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.02s;
    margin-right: 5px;
    /*width: 90px;*/
    text-align: center;
}

.button-default:active {
    transform: scale(.98);
}

.wrapper-auth {
    padding: 10px;
    display: flex;
    align-items: center;
}


.header-bg {
    /*background: var(--white);*/
    /*!*height: 95px;*!*/
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255 255 255 / 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 1px -3px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 3;
}

.block-default {

}

.wrapper-feed {
    padding: 10px;
    width: 700px;
}

/*.item-feed {*/
/*    background: #fff;*/
/*    border-radius: 3px;*/
/*    width: 700px;*/
/*}*/

.item-image-wrapper-feed {
    position: relative;
}

.title-feed {
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    font-weight: 600;

    position: absolute;
    top: 10px;
    left: 10px;
}

.item-feed {
    border-bottom: 1px solid #fafafa;
    padding: 5px 0;
}

.red {
    color: #ee4747;
}

.red_bg {
    background: #ee4747;
}

.item-preview-img {
    max-width: 700px;
    border-radius: 3px 3px 0 0 ;
}

.item-preview-text {
    padding: 10px;
}

.control-place-feed {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #fafafa;
}


.comments-wrapper {
    border-bottom: 1px solid #fafafa;
}

.state-comments {
    padding: 10px;
    text-align: center;

    color: #7b7b7b;
    font-size: 12px;
}

.like-img {
    max-width: 20px;
}

.item-wrapper-feed {
    margin-bottom: 10px;
}

.like-text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    color: #7b7b7b;
}

.like-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.like {
    display: flex;
    padding: 4px 12px;
    background: var(--hover);
    border-radius: 20px;
    cursor: pointer;
}

.like:active {
    transform: scale(0.98);
    cursor: pointer;

}

.like-item {
    margin-right: 10px;
    cursor: pointer;
}

.wrapper-error {
    padding: 20px;
}

.comment-feed-wrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.comment-feed-button {
    background: #fafafa;
    width: 600px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 13px;
    color: #7b7b7b;
    cursor: pointer;
}

.textarea-small {
    outline: none;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    background: #fafafa;
    border: none;
    resize: none;
    width: 565px;
}

.wrapper-button-send {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-pop-up {
    backdrop-filter: blur(5px);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.title-pop-up {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #fafafa;

}

.wrapper-auth-pop-up {
    background: #fff;
    width: 420px;
    /*height: 400px;*/
    border-radius: 10px;
    /*border: 1px solid #fafafa;*/
    position: relative;
}

.wrapper-auth-pop-up-wr {
    position: relative;
    /*height: 500px;*/
}

.button-sign {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transition: .04s;
}

.button-any {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .04s;
}



.sing-wrapper {
    margin-top: 10px;
}

.blue {
    color: #fff;
    background: var(--logo);
}

.green {
    color: #fff;
    background: #58f158;
}

.green-color {
    color: green;
}

.grey {
    background: #fafafa;
    color: #000;
}

.button-sign:active {
    background: #fafafa;
    color: #000;
}

.button-any:active {
    background: #fafafa;
    color: #000;
}

.wrapper-input-sign {
    position: absolute;
    bottom: 0;
    width: 100%;
}



.control-pop-up {
    display: flex;
    border-bottom: 1px solid #fafafa;
    justify-content: space-between;
}

.active {
    background: var(--logo);
    color: #fff;
}

.active-white {
    background: #fff;
    color: #000;
}

.default-icon-many {
    max-width: 80px;
}

.block-default-icon-many {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.title-default-icon-many {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
}

.block-full-size-ad {
    /*padding: 20px;*/
    /*color: #fff;*/
    margin-top: 10px;
    border-radius: 15px;
    /*transform: scale(1.02);*/
}
.ad-component-wrapper {
    display: flex;
}

.ad-component-image-block {
    padding: 10px;
    border-radius: 15px 0 0 15px;
    width: 200px;
    height: 200px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-component-info-block {
    width: 100%;
    border-radius: 0 15px 15px 0;

    padding: 10px;
    background: #dcdcdc;
}

.block-full-size {
    padding: 20px;
    background: var(--logo);
    color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    /*transform: scale(1.02);*/
}

.logo-img {
    max-width: 30px;
}

.wrapper-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-preview {
    /*padding-top: 10px;*/
    display: flex;
    justify-content: space-between;
}

.flex-left-right {
    display: flex;
}

.sing-wrapper-main {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0 0;
}

.title-main {
    padding: 5px;
    font-size: 14px;
}

.info-auth-main {
    padding: 10px 0 0;
    font-size: 13px;
    margin-top: 20px;
    border-top: 1px solid #fafafa;
}

.white-block-border {
    /*height: 370px;*/
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}

.wrapper-input-main {
    position: relative;
    padding: 10px 0;
}

.input-main {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    width: 100%;
}

.block-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-page {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}

.wrapper-button {
    padding: 10px;
    /*background: #fff;*/
    position: absolute;
    left: 80px;
    bottom: 10px;
    /*border-radius: 20px;*/
}

.button-light {
    padding: 2px 10px;
    cursor: pointer;
    /*color: #000;*/
    margin-right: 5px;
    /*background: #ded9d9;*/
    border-radius: 15px;
    font-size: 13px;
    transition: 0.3s;
}

.button-light:active {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
}


.block-default-icon {
    padding: 20px 50px 20px 20px;
}

.default-icon {
    max-width: 100px;
}

.block-default-pre {
    color: #333;
    padding: 20px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    /*transition: 1s;*/
}

.avatar-profile {
    max-width: 40px;
    cursor: pointer;
}

.block-default-pre:hover {
    /*transform: scale(1.01);*/
}

.footer {
    display: flex;
    padding: 5px 10px;
    background: #fff;
    margin: 10px 0 10px 0;
    border-radius: 20px;
}

.logo-text {
    padding: 10px;
    color: #262626;
    font-size: 13px;
}

.footer-button {
    padding: 10px;
    color: #262626;
    cursor: pointer;
    font-size: 13px;
}

.button-text {
    color: #262626;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;

}

.footer-button:hover {
    text-decoration: underline;
}

.button-text:hover {
    text-decoration: underline;
}

.block-text-pre {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    /*line-height: 24px;*/
    letter-spacing: 0;
}


.pre-add {
    background: #fff;
    color: #000;
}

.preview-inside-block {
    padding: 5px 0;
}

.button-light:hover {
}

.control-pop-up-item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.control-pop-up-item:active {
    transform: scale(0.98);
}

.wrapper-input {
    padding: 10px;
}

.wrapper-input-checkbox {
    padding: 10px 25px;
    /*display: flex;*/
    position: relative;
}

.wrapper-input-checkbox-wr-input-text {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #696969;
    cursor: pointer;
}

.video-wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.controls-video-wrapper {
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.action-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.action-button {
    max-width: 15px;
    cursor: pointer;
}

.action-button:active {
    transform: scale(0.8);
}

.controls-video-panel{
    padding: 10px;
    background: rgba(61, 61, 61, 0.75);
    border-radius: 10px;
    display: flex;
    transition: opacity .4s;
}

.controls-video-time-progress {
    width: 100%;
    height: 5px;
    cursor: pointer;
}


/*.wrapper-input-checkbox-wr-input {*/
/*    !*margin-right: 10px;*!*/
/*    z-index: 999;*/
/*    !*padding: 10px;*!*/
/*    padding: 20px;*/
/*}*/

.controls-video-time-wrapper {
    padding-left: 5px;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

.time-now-video-mouse {
    position: absolute;
    left: -30px;
    bottom: 18px;
    background: #3D3D3D;
    padding: 10px;
    font-size: 10px;
    border-radius: 10px;
    transition: opacity .2s;
}

.triangle-bottom-position {
    position: relative;
}

.controls-video-time-progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-left: 5px;*/
    margin: 0 10px;
    color: #fff;
    width: 100%;
    position: relative;
}

.triangle-bottom {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #3D3D3D;
    position: absolute;
    top: 10px;
    left: 14px;
}

.point-bottom {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
    /*border-top: 8px solid #3D3D3D;*/
    position: absolute;
    top: 18px;
    left: 19px;
}

.logo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    position: relative;
    width: 125px;
    height: 15px;
}

.logo-video-img {
    max-height: 35px;
    position: absolute;
    right: 0;
    bottom: -11px;
}

#video:fullscreen {position:relative}
/*#video:fullscreen #my_video {width: 100vw; height: 100vh}*/
#video:fullscreen #controls_bar {bottom: 0}

.input-default {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background: none;
    padding: 12px;
    font-size: 14px;
}

.input-default-number > input  {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    padding: 15px;
    font-size: 14px;
}

.input-default-number-country > div {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
}

.input-default-checkbox {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    padding: 15px;
    font-size: 14px;
}



.pop-up-close-comments {
    cursor: default;

    backdrop-filter: blur(3px);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: #7b7b7b;

}

.error {
    color: #7b7b7b;
}

.small-text {
    font-size: 12px;
}

.icon-user-img {
    max-width: 32px;
}

.end {
    text-align: center;
    padding: 10px;
    color: #696969;
}

.block-auth-external {
    /*display: flex;*/
    /*box-shadow: 0 0 5px -2px rgba(88, 88, 92, 0.2);*/
    /*padding: 10px;*/
    /*border-radius: 10px;*/
}

.icon-user {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-block {
    border-bottom: 1px solid #fafafa;
    padding: 10px 10px 10px 0;
    font-size: 15px;
}

.text-info-bio {
    padding: 10px 10px 10px 0;
    font-size: 13px;
}

._3Ifyx {
    /*margin-top: 1rem;*/
    /*margin-bottom: 1rem;*/
    /*padding: 0.5em;*/
    font-size: 2em;
}

._FcUUP {
    font-size: 15px;
    border: none;
}

._3sXmFundefined {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

._1qEzs {
    margin-left: 2%;
}

._2z69Y {
    /*width: -webkit-fit-content;*/
    /*width: -moz-fit-content;*/
    /*width: fit-content;*/
    height: 1rem;
}


/*@media (max-width: 1000px) {*/
/*    .wrapper {*/
/*        width: auto;*/
/*        padding: 10px;*/
/*    }*/

/*    .place-logo {*/
/*        font-size: 40px;*/
/*    }*/

/*    .logo-img {*/
/*        max-width: 45px;*/
/*    }*/

/*    .wrapper-auth {*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    .button-light {*/
/*        font-size: 25px;*/
/*        padding: 10px 20px;*/
/*    }*/

/*    .wrapper-header {*/
/*        !*padding: 15px;*!*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        box-sizing: border-box;*/
/*        width: 100%;*/
/*    }*/
/*    html {*/
/*        width: 100%;*/
/*        box-sizing: border-box;*/
/*    }*/

/*    .header-bg {*/
/*        width: 100%;*/
/*    }*/

/*    body {*/
/*        font-size: 25px;*/
/*    }*/
/*}*/
